@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #852e2e;
  --ifm-color-primary-dark: #782929;
  --ifm-color-primary-darker: #712727;
  --ifm-color-primary-darkest: #5d2020;
  --ifm-color-primary-light: #923333;
  --ifm-color-primary-lighter: #993535;
  --ifm-color-primary-lightest: #ad3c3c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fdb4b4;
  --ifm-color-primary-dark: #fc8a8a;
  --ifm-color-primary-darker: #fb7575;
  --ifm-color-primary-darkest: #fa3535;
  --ifm-color-primary-light: #fedede;
  --ifm-color-primary-lighter: #fff3f3;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
